SECRET_KEY=coloca_una_clave_secreta
DATABASE_URL=mysql+pymysql://flaskuser:flaskpass@db:3306/lab3_flask

ADMIN_USER=admin
ADMIN_PASSWORD=coloca_una_contrasena
ADMIN_EMAIL=admin@demo.com

# Configuracion de correo SMTP real
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=tu_correo@gmail.com
MAIL_PASSWORD=tu_clave_o_app_password
MAIL_USE_TLS=true
MAIL_USE_SSL=false
MAIL_DEFAULT_SENDER=tu_correo@gmail.com
